* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #040A23;
  display: flex;
  place-items: center;
  min-height: 100vh;
}

main {
  display: grid;
  grid-template-areas:
    "a a b"
    "c d d"
    "c e e";
  gap: 10px;
  width: 30%;
  margin: auto;
}

main div {
  padding: 2em;
  text-align: center;
}

.grid1 {
  background-color: #eb5020;
  grid-area: a;
  height: 60px;
}

.grid2 {
  background-color: #ffa401;
  grid-area: b;
}

.grid3 {
  background-color: #05aa42;
  grid-area: c;
}

.grid4 {
  background-color: #01aefd;
  grid-area: d;
}

.grid5 {
  background-color: #01aefb;
  grid-area: e;
  height: 15px;
}
