* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: hsl(0, 0%, 95%);
}

main {
  min-height: 100vh;
  width: 100%;
  display: flex;
  align-content: center;
  justify-content: center;
  font-size: 15px;
}

.container {
  width: 100%;
  max-width: 1440px;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-flow: wrap;
  margin: 0 auto;
}

.box {
  width: 269px;
  min-height: 430px;
  padding: 15px;
}

.box-one {
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  background-color: hsl(31, 77%, 52%);
}

.box-two {
  background-color: hsl(184, 100%, 22%);
}

.box-three {
  background-color: hsl(179, 100%, 13%);
  border-bottom-right-radius: 10px;
  border-top-right-radius: 10px;
}

.content {
  padding: 2px;
}

h1 {
  font-family: "Big Shoulders Display", cursive;
  margin: 20px 0;
  text-transform: uppercase;
  color: hsl(0, 0%, 95%);
}

p {
  color: hsl(0, 0%, 100%, 0.75);
  font-family: "Lexend Deca", sans-serif;
  line-height: 1.7;
}

.btn {
  font-family: "Lexend Deca", sans-serif;
  margin-left: 20px;
  margin-top: 80px;
  border: 0;
  border-radius: 30px;
  outline: none;
  cursor: pointer;
  font-weight: 400;
  background-color: hsl(0, 0%, 95);
  padding: 12px 29px;
}

.btn1 {
  color: hsl(31, 77%, 52%);
}

.btn2 {
  color: hsl(184, 100%, 22%);
}

.btn3 {
  color: hsl(179, 100%, 13%);
}

.btn:hover {
  background-color: transparent;
  border: 2px solid hsl(0, 0%, 100%, 0.75);
  color: hsl(0, 0%, 100%, 0.75);
  transition: 0.5s;
}

h2 {
  text-align: center;
}
